<div class="card border-primary bg-light">
  <div class="card-header text-center">
    <%= @article.title %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      </p> <%= @article.description %> </p>
    </blockquote>
  </div>
  <div class="card-footer border-primary">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article? "}, class: "btn btn-xs btn-danger" %>
    <%= link_to "View Articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
  <!--<img src="https://pbs.twimg.com/profile_images/1223153353464668160/G0NWAQrG_400x400.jpg" 
    alt="a cubby girl smiling" style="width:400px;height:400px;">-->